@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome in the online library!</h1>
<h3>Find and borrow books in a few seconds.</h3>

<img src="images/library.jpg" alt="Library Image" class="img-circle" />